@font-face {
  font-family: "Gotham-Book";
  src: url("gotham-book.woff2") format("woff2"),
    url("gotham-book.woff") format("woff");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("gotham-medium.woff2") format("woff2"),
    url("gotham-medium.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gotham-Medium", Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

.pdf-receipt-container {
  position: relative;
  margin: 0 auto;
  width: 612px;
  height: 792px;
  border: 1px solid #6d7074;

  background-color: #ffffff;
  background-image: url("shieldWatermark.png");
  background-repeat: no-repeat;
  background-position: center;
}

.pdf-receipt {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
}

.pdf-receipt .receipt__title {
  position: relative;

  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.006em;
}

.receipt__body-status {
  position: relative;
  margin: auto;
  text-align: center;
}

.receipt__body-status .body-status__row {
  position: relative;
  margin: 18px auto;
}

.body-status__row .row__label {
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 12px;
  color: #6d7074;
}

.body-status__row .row__value {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.006em;
  color: #2c2d2e;
}

.receipt__body-premises {
  position: relative;
  margin: 18px auto;
  margin-top: 32px;
  text-align: center;
}
.receipt__body-premises .body-premises__title {
  position: relative;

  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.006em;
  color: #494b4d;
}
.receipt__body-premises .body-premises__row {
  position: relative;
  margin: 18px auto;
}

.body-premises__row .row__label {
  margin-bottom: 4px;
  font-size: 10px;
  line-height: 12px;
  color: #6d7074;
}

.body-premises__row .row__value {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.006em;
  color: #2c2d2e;
}
